<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Błąd</title>
</head>
<body>
    <hgroup>
        <h1>Błąd</h1>
        <h2>Wystąpił błąd spróbuj ponownie</h2>
    </hgroup>
</body>
</html>
